@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.Body-class{
    /* Desktop - 1 */
position: relative;
width: 1440px;
height: 5245px;
background: rgb(255, 255, 255);
}


/* font-family: "Azeret Mono", monospace; */
/* Header Part */
.header-1{
    /* Desktop - 1 */
position: relative;
width: 1440px;
height: 5245px;
background: rgb(255, 255, 255);
}

.S-S{
position: absolute;
width: 114px;
height: 34px;
left: 150px;
top: 50px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 28px;
font-weight: 800;
line-height: 33px;
letter-spacing: 0%;
text-align: left;

}

.btn-1{
    /* Frame 2 */
position: absolute;
width: 244px;
height: 57px;
left: 1046px;
top: 38px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 17px 24px 17px 24px;

box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;

opacity: 0.8;

}
.download-resume{
    /* Download Resume */
position: static;
width: 196px;
height: 23px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 17px 24px 17px 24px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
text-decoration: none;
}

.main-1{
    /* Main 1 */
    /* Hero-bg */
position: absolute;
width: 1440px;
height: 800px;
left: 0;
right: 0;
top: 131px;
bottom: 4462px;
    background-image: url(assets/Hero-bg.png);


}
.intro {
    /* Frame 4 */
position: absolute;
width: 998px;
height: 582px;
left: 221px;
right: 221px;
top: 157px;
bottom: 4506px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


}
.img{
    /* Group */
/* Group */
position: absolute;
width: 173.03px;
height: 228.9px;
left: 243.4%;
right: -215.41%;
top: 0%;
bottom: 4.63%;
transform: rotate(180.00deg);
}
.h2-dev{
    /* "In the near future, I hope to become a Developer." */
position: static;
width: 998px;
height: 136px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 24px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;

}
.para-text{
    /* Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. */
position: static;
width: 852px;
height: 52px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.btn-2{
    /* Frame 2 */
position: static;
width: 208px;
height: 66px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 21px 24px 21px 24px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
border-radius: 8px;

background: rgb(13, 19, 33);
}
.para-cont{
    /* Contact with me */
position: static;
width: 160px;
height: auto;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 21px 24px 21px 24px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;

color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 13px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}


/* Frame-13 */
.frame-13{
    /* Frame 13 */
position: absolute;
width: 1140px;
height: 1585px;
left: 148px;
right: 152px;
top: 857px;
bottom: 2995px;


/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 80px 97px 80px 97px;

border-radius: 16px;

background: rgba(13, 19, 33, 0.02);
}
.frame-12{
    /* Frame 12 */
position: static;
width: 946px;
height: 1750px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}
.frame-5{
    /* Frame 5 */
position: static;
width: 852px;
height: 113px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 48px 0px;
}
.h3-title{
    /* Why Web Development?? */
position: static;
width: 852px;
height: 37px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}

.para-text{
position: static;
width: 852px;
height: 52px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;

/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
}

.frame-11{
    /* Frame 11 */
position: static;
width: 946px;
height: 1072px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 48px 0px;
}
.frame-8{
    /* Frame 8 */
position: static;
width: 946px;
height: 336px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 48px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
border-radius: 16px;

background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.frame-10{
    /* Frame 10 */
position: static;
width: 850px;
height: 240px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
}
.frame-9{
    /* Frame 9 */
position: static;
width: 477px;
height: 219px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}
.frame-6{
    /* Frame 6 */
position: static;
width: 477px;
height: 140px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
}
.h3-coding{
    /* I will Do Coding and Change The World */
position: static;
width: 390px;
height: 72px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 16px 0px;

color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.para-h3{
    /* Lorem Ipsum is simply dummy text of the printing and typesetting industry. */
position: static;
width: 468px;
height: 52px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 16px 0px;
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.frame-7{
    /* Frame 7 */
position: static;
width: 171px;
height: 47px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;

}
.btn-learn{
    /* Learn More */
position: static;
width: 131px;
height: 23px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 13px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
.group-2{
    /* Group 2 */
position: static;
width: 274.17px;
height: 240px;
/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 10px;
}


.frame-2-1{
    /* Frame 9 */
position: static;
width: 946px;
height: 336px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 48px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;


border-radius: 16px;

background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);

}

.frame-2-1-1{
    /* Frame 10 */
position: static;
width: 850px;
height: 240px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
}

.img-2-1-1{
    /* Group 3 */
position: static;
width: 240px;
height: 240px;
/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 32px;
}
.frame-3-1{
    /* Frame 9 */
position: static;
width: 477px;
height: 219px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 32px;
    
}
.frame-3-2{
    /* Frame 6 */
position: static;
width: 477px;
height: 140px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
}
.h3-clas-3-1{
    /* I will help People by creating Modern Web System */
position: static;
width: 477px;
height: 72px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 16px 0px;
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.para-h3-3-1{
    /* Lorem Ipsum is simply dummy text of the printing and typesetting industry. */
position: static;
width: 468px;
height: 52px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 16px 0px;
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.for-button{
    /* Frame 8 */
position: static;
width: 171px;
height: 47px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;

}
.btn-learn-1{
    /* Learn More */
position: static;
width: 131px;
height: 23px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 13px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}


.section-3{
    /* Frame 10 */
position: static;
width: 946px;
height: 336px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 48px;


/* Inside Auto Layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
border-radius: 16px;

background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.section-3-part-1{
    /* Frame 10 */
position: static;
width: 850px;
height: 240px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;

}
.section-3-part-1-1{
    /* Frame 9 */
position: static;
width: 477px;
height: 220px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 133px;
}
.section-6{
    /* Frame 6 */
position: static;
width: 477px;
height: 140px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
}
.sec-6{
    /* I will Do Coding and Change The World */
position: static;
width: 390px;
height: 72px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 16px 0px;
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.sec-6-1{
    /* Lorem Ipsum is simply dummy text of the printing and typesetting industry. */
position: static;
width: 468px;
height: 52px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 16px 0px;
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.btn-55{
    /* Frame 7 */
position: static;
width: 149px;
height: 48px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;

}
.btn-learn-2{
    /* Learn More */
position: static;
width: 109px;
height: 24px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;




/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 10px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
.img666{
    /* Group 4 */
position: static;
width: 240px;
height: 240px;
/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 133px;
}

/* ----------------------------------------------------------- */
.part-100{
    /* Frame 15 */
position: absolute;
width: 1140px;
height: 775px;
left: 148px;
right: 152px;
top: 2340px;
bottom: 2130px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
margin-top: 250px;

}

.part-100-1{
    /* Frame 5 */
position: static;
width: 852px;
height: 113px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 48px 0px;
}
.h3-100{
    /* My Inspiration */
position: static;
width: 852px;
height: 37px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.p-100{
    /* Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. */
position: static;
width: 852px;
height: 52px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.part-video{
    /* Frame 14 */
position: static;
width: 1140px;
height: 614px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 32px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 48px 0px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;

}
.div-video{
    /* Rectangle 1 */
position: static;
width: 1076px;
height: 550px;
/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 10px 0px;
border-radius: 16px;

}

.submission{
    background-image: url(assets/handshake.jpg);
    /* Frame 8 */
position: absolute;
width: 1140px;
height: 313px;
left: 150px;
right: 150px;
top: 4752px;
bottom: 180px;
margin-top: auto;
margin-bottom: auto;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 64px 48px 64px 48px;

border-radius: 16px;

background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
}

.submission-1{
    /* Frame 10 */
position: static;
width: 1044px;
height: 185px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
}
.submission-2{
    /* Frame 9 */
position: static;
width: 1044px;
height: 185px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
}
.submission-3{
    /* Frame 6 */
position: static;
width: 730px;
height: 104px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 24px 0px;
}
.supportive{
    /* I need Support */
position: static;
width: 292px;
height: 36px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 16px 0px;
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
}

.supportive-1{
    /* Lorem Ipsum is simply dummy text of the printing and typesetting industry. */
position: static;
width: 606px;
height: 52px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 16px 0px;
opacity: 0.7;
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.submission-4{
    /* Frame 23 */
position: static;
width: 684px;
height: 57px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;
}
.sub5{
    /* Frame 7 */
position: static;
width: 548px;
height: 57px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 19px 20px 19px 20px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;

background: rgb(255, 255, 255);
}
.inputclass{
    /* Suggest me any feedback for me */
position: static;
width: 450px;
height: 15px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 18px 19px 18px 19px;
border: none;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 8px;
color: rgba(13, 19, 33, 0.4);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0%;
text-align: center;
}

.parasub{
    /* Suggest me any feedback for me */
position: static;
width: 313px;
height: 19px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 19px 20px 19px 20px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
color: rgba(13, 19, 33, 0.4);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
}
.buttonpara{
    /* Frame 8 */
position: static;
width: 120px;
height: 23px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 17px 20px 17px 20px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 16px;
border-radius: 8px;

background: rgb(255, 255, 255);
}
.btn-para{
    /* Submit */
position: static;
width: 80px;
height: 23px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 17px 20px 17px 20px;
border: none;
background: none;

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 10px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}

.Curret-Target-Main{
  /* Frame 26 */
position: absolute;
width: 1150px;
height: 1500px;
left: 150px;
right: 150px;
top: 3600px;
bottom: 542px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


}
.Target-part1{
    /* Frame 12 */
position: static;
width: 946px;
height: 113px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 48px 0px;
}
.Target-part2{
    /* Frame 5 */
position: static;
width: 852px;
height: 113px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 48px 0px;
}

.target-text{
    /* My Current Target */
position: static;
width: 852px;
height: 37px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.target-text-1{
    position: static;
width: 852px;
height: 52px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;

/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}

.box-topic{
    /* Frame 18 */
position: static;
width: 1140px;
height: 299px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px;




/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 48px 0px;

}

.box-topic-1{
    /* Frame 10 */
position: static;
width: 364px;
height: 299px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 24px;
border-radius: 16px;

background: rgba(255, 76, 30, 0.05);

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;
}




.box-topic-2{
    /* Frame 10 */
position: static;
width: 284px;
height: 219px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;

}
.box-topic-3{
    /* Group 5 */
position: static;
width: 56px;
height: 56px;
/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 24px 0px;
}

.box-frame1{
    /* Frame 9 */
position: static;
width: 284px;
height: 139px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
}
.html-image{
    /* html-5 1 */
position: relative;
width: 56px;
height: 56px;
}
.box-frame1{
    /* Frame 17 */
position: static;
width: 284px;
height: 139px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;
}

.box-frame-text{
    /* Frame 6 */
position: static;
width: 284px;
height: 96px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
}

.box-content{
    /* Frame 16 */
position: static;
width: 284px;
height: 96px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;
}

.box-content-1{
    /* HTML */
position: static;
width: 284px;
height: 36px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}

.box-content-2{
    /* Lorem Ipsum is simply dummy text of the printing. */
position: static;
width: 284px;
height: 52px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.box-learn{
    /* Learn More */
position: static;
width: 284px;
height: 19px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
}


.box-topic-333{


    /* Frame 16 */
position: static;
width: 364px;
height: 299px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 24px;
border-radius: 16px;

background: rgba(0, 76, 232, 0.05);
    border-radius: 16px;

    background: rgba(255, 223, 0, 0.05);
}

.box-topic-222{

    /* Frame 16 */
position: static;
width: 364px;
height: 299px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 24px;

    border-radius: 16px;

background: rgba(0, 76, 232, 0.05);
}

.box-learn{
    border: none;
    text-decoration: none;
    background: none;
}









/* Footer Part Started here.. */
.footer-content{
    position: absolute;
    width: 1440px;
    height: 100px;
    left: 0px;
    top:5145px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 32px 150px 32px 150px;


    border-radius: 16px;
background: rgba(13, 19, 33, 0.03);



}
.footer-items{
    /* An Open Commitment by Awlad Hossain */
position: static;
width: 456px;
height: 23px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}

.footer-items ,.footer-content__item-title{
    /* Frame 24 */
position: static;
width: 1140px;
height: 36px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
}

.footer-content__item-list , .list-icon{
    /* Frame 25 */
position: static;
width: 157.01px;
height: 36px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px;

/* Inside Auto Layout */

margin: 0px 10px;


}
